span {
  color: var(--primary);
}
.servicios {
  margin: 64px;
  width: -webkit-fill-available;
}
.servicio{
  display: flex;
  margin-bottom: 64px;
  justify-content: center;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 0 12px;
}
.carrusel {
  box-sizing: border-box;
  width: --webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
picture {
  width: 98%;
  height: 45vh;
  display: flex;
  align-items: center
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 500px;
  object-position: center;
}
.mitexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100%;
  margin: 4px;
}
.mitexto p {
  text-align: start;
}
.botones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: fit-content;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  .servicios {
    margin: 32px;
  }
  .servicio {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 460px) {
  picture {
    height: 30vh;
  }
}