.instalaciones {
  width: 100%;
  padding: 64px 0;
}
.texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  gap: 32px;
  max-width: 700px;
  margin: 0 auto 64px;
}
.texto div:nth-child(1) {
  width: fit-content;
  align-self: center;
}
.swiper {
  padding: 42px;
}
.swiperCard {
  margin-bottom: 32px;
}
.carouselImage {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .instalaciones {
    gap: 32px;
  }
  .texto {
    width: calc(100% - 48px);
    gap: 16px;
  }
  .container {
    width: calc(100% - 64px);
  }
}
