.contactForm {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  justify-content: start;
}

.input,
.text {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  padding: 4px;
  margin: 0;
  background: var(--neutral-98);
  resize: none;
  border: none;
  border-radius: 6px;
  border-bottom: 1px solid var(--neutral-60);
}

h2 {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .contactForm {
    align-items: center;
    width: calc(100% - 48px);
    max-width: 320px;
    padding: 0;
  }
}