.direccion {
  background: url("/Direccion.jpg");
  background-size: cover;
  width: 100vw;
  height: 550px;
}
.rectangulo {
  background: var(--primario-0);
  padding: 32px 16px;
  width: fit-content;
  position: relative;
  z-index: 2;
  left: 10%;
  top: 10%;
  max-width: 80%;
}
.rectangulo .botonBorder {
  margin-top: 8px;
}
.eltexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.lascols {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.lascols .titleLarge {
  padding: 8px 0px;
}
