/* viewport 800 los botones no se muestran bien */

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--primario-0);
  background: var(--primario-7);
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer .empresa {
  padding: 32px;
}
.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 12px;
}
.iconos {
  width: 163.12px;
  height: 33px;
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
}
.iconos img {
  width: 32px;
  height: 32px;
}

.palo {
  width: 0;
  height: 64px;

  border: 1px solid #a0a0a0;
}

.losBotones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.losBotones > * {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 840px) {
  .losBotones {
    flex-wrap: wrap;
    width: 100%;
    gap: 0px;
    justify-content: center;
  }
  .elBoton:nth-child(2n-1),
  .elBoton:nth-child(2n) {
    flex-basis: 40%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .palo {
    display: none;
  }
  .losBotones {
    width: 256px;
    column-gap: 16px;
  }
  .losBotones .elBoton:nth-child(1),
  .elBoton:nth-child(2) {
    border-top: 1px solid var(--primario-1);
    border-bottom: 1px solid var(--primario-1);
  }
  .elBoton:nth-child(3),
  .elBoton:nth-child(4) {
    border-bottom: 1px solid var(--primario-1);
  }
}
