.lema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  margin: 32px 32px;
  width: fit-content;
  height: fit-content;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 10px;
  gap: 10px;
  background: #f69256;
}

.mipalo {
  width: 69%;
  height: 0px;
  border: 1px solid #a0a0a0;
}

@media screen and (max-width: 1300px) {
  .lema {
    grid-area: lema;
  }
}