.porQueElegirnos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 32px;
  gap: 32px;
  width: 100vw;
}
.textoArriba {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.micuadro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.accountCircleIcon {
  width: 64px;
  height: 64px;
}
.calidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

@media screen and (max-width: 800px) {
  .calidad {
    flex-basis: 100%;
  }
  .calidad:nth-child(2n-1),
  .calidad:nth-child(2n) {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 500px) {
  .micuadro {
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: 8px;
  }
}
