.swiperCont {
  width: 100%;
  height: 100%;
  background: #000;
  margin-top: 80px;
  z-index: 0;
}
.parallaxbg {
  background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/Herramientas.webp');
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 40%;
}
.swiperCard {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}
.contenido h1 {
  margin: 0;
  color: var(--on-primary);
}
.botones button a {
  color: var(--on-primary);
}
.contenido h1 span {
  color: var(--primary-fixed-dim);
}
.contenedor {
  width: 100%;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 64px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 500px;
  object-position: center;
  gap: 34px;
  height: 480px;
  width: 80%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4),
    rgba(12, 12, 11, 0.4),
    rgba(126, 124, 124, 0.4),
    rgba(252, 248, 247, 0.4)
  );
  border: 2px solid #f5fcff;
  backdrop-filter: initial;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.contenido div {
  color: var(--on-primary);
}
.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: fit-content;
  height: fit-content;
}
@media screen and (max-width: 800px) {
  .swiperCont {
    margin-top: 64px;
  }
}
@media screen and (max-width: 600px) {
  .swiperCont {
    margin-top: 48px;
  }
  .contenido {
    padding: 12px;
    width: 90%;
  }
  .botones {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .swiperCard {
    padding: 40px 42px;
  }
}


