.sobreNosotros {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 568.5px;
}
.izquierda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 0px;
  gap: 24px;
  width: 45%;
  height: 568.5px;
}
.texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 24px;

  width: 95%;
  height: 168px;
}

.cuerpo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* or 100% */

  color: #000000;
}
.rectangulo {
  width: 160px;
  height: 40px;
}

.imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  max-width: 45%;
  overflow: hidden;
  height: 512px;
}
.imagen1 {
  box-sizing: border-box;

  width: 383.5px;
  height: 512px;

  background: url("../../public/image21.png"), #f5fcff;
}
.imagen2 {
  box-sizing: border-box;

  width: 351.5px;
  height: 480px;

  background: url("../../public/image22.png"), #f5fcff;
  border: 1px solid #000000;
}

@media screen and (max-width: 1100px) {
  .imagenes {
    flex-direction: column;
    padding: 32px 0px;
    gap: 4px;
  }
  .imagen1 {
    background-image: url("../../public/image20.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagen2 {
    background-image: url("../../public/image19.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
