.sobreNosotros {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.izquierda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  width: 45%;
}
.texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 95%;
}
.imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  max-width: 45%;
  height: 100%;
  overflow: hidden;
}
.imagen1 {
  box-sizing: border-box;

  width: 383.5px;
  height: 512px;

  background: url("image21.png"), #f5fcff;
}
.imagen2 {
  box-sizing: border-box;

  width: 351.5px;
  height: 480px;

  background: url("image22.png"), #f5fcff;
  border: 1px solid #000000;
}

/* @media screen and (max-width: 1100px) {
  .imagenes {
    flex-direction: column;
    padding: 32px 0px;
    gap: 4px;
  }
  .imagen1 {
    background-image: url("../../public/image20.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagen2 {
    background-image: url("../../public/image19.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
} */
