span {
  color: var(--primary);
}
.servicios {
  margin: 64px 120px;
  width: -webkit-fill-available;
}
.servicio{
  display: flex;
  margin: 24px;
  justify-content: center;
  text-align: center;
}
.carrusel {
  box-sizing: border-box;
  width: --webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
picture {
  width: 98%;
  display: flex;
  align-content: center;
  align-items: center
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 500px
}
.mitexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100%;
  margin: auto;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: fit-content;
}

@media screen and (max-width: 800px) {
  .servicios {
    margin: 42px;
  }
}