.servicios {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-bottom: 64px;
}
.carrusel {
  display: flex;
  width: 90%;
  justify-content: center;
}
img {
  width: 75%;
}
.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 60%;
  height: 100%;
  margin: auto;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 4px;
  gap: 12px;
  width: 338px;
  height: 64px;
}
