.nombreDeEmpresa {
  position: relative;
  font-size: var(--h1-900-bold-size);
  font-weight: 600;
  text-align: left;
}
.brevesPalabrasCon {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  font-family: var(--footer-400-opensans);
  display: inline-block;
  width: 466px;
}
.buttonsDesktopChild {
  position: absolute;
  height: 108.33%;
  width: 102.38%;
  top: -4.17%;
  right: -1.19%;
  bottom: -4.17%;
  left: -1.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.enabled {
  position: absolute;
  top: 31.82%;
  left: 16.45%;
  line-height: 16px;
}
.buttonsDesktop {
  position: relative;
  width: 168px;
  height: 48px;
  flex-shrink: 0;
}
.enabled1 {
  position: absolute;
  top: 31.82%;
  left: 23%;
  line-height: 16px;
}
.buttonsDesktop1 {
  position: relative;
  background-color: var(--marrones-marron-7);
  width: 168px;
  height: 48px;
  flex-shrink: 0;
}
.buttonsDesktopParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--h2-400);
}
.nombreDeEmpresaParent {
  align-self: stretch;
  flex: 1;
  background: linear-gradient(
    180deg,
    #381800,
    rgba(164, 177, 197, 0.04) 96.88%,
    rgba(255, 255, 255, 0)
  );
  border: 2px solid var(--azules-blanco-azul);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frameChild {
  position: relative;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
.ellipseParent,
.inicio {
  display: flex;
  justify-content: flex-start;
}
.ellipseParent {
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-end;
  gap: var(--gap-base);
}
.inicio {
  align-self: stretch;
  height: 765px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-23xl);
  box-sizing: border-box;
  align-items: center;
  background-image: url(/public/inicio@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--buttons-500-size);
  color: var(--marrones-marron-0);
  font-family: var(--h1-900-bold);
}
