.lemaChild {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 522px;
  height: 512px;
}
.consultasLlmenos,
.div {
  position: absolute;
  top: 320px;
  left: 163.13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194.73px;
}
.div {
  top: 352px;
  left: 191.67px;
  width: 137.64px;
}
.provincia {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.argentina {
  margin: 0;
}
.avEjemplo123Container1 {
  line-break: anywhere;
  width: 100%;
}
.avEjemplo123Container {
  position: absolute;
  top: 204px;
  left: calc(50% - 64.23px);
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 138.66px;
  height: 79px;
}
.empresa,
.lemaDeLa {
  position: absolute;
  top: 104px;
  left: 176.38px;
  font-size: var(--font-size-17xl);
  line-height: 36px;
  color: var(--marrones-marron-8);
  text-align: left;
  display: inline-block;
  width: 168.22px;
}
.lemaDeLa {
  top: 64.5px;
  left: 132px;
  font-size: var(--h2-400-size);
  line-height: 24px;
  width: 267px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--marrones-marron-3);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 261px;
  height: 32px;
}
.localizacin {
  position: absolute;
  top: 8px;
  left: 86.66px;
  line-height: 16px;
  font-weight: 600;
  -webkit-text-stroke: 1px #1f0300;
}
.rectangleParent {
  position: absolute;
  top: 156px;
  left: 130.5px;
  width: 261px;
  height: 32px;
  font-family: var(--footer-400-opensans);
}
.buttonsDesktopChild {
  position: absolute;
  height: 110%;
  width: 102.5%;
  top: -5%;
  right: -1.25%;
  bottom: -5%;
  left: -1.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.enabled {
  position: absolute;
  top: 29.32%;
  left: 21.48%;
  line-height: 16px;
}
.buttonsDesktop {
  position: absolute;
  top: 399.5px;
  left: 181.5px;
  background-color: var(--marrones-marron-3);
  width: 160px;
  height: 40px;
  color: var(--marrones-marron-7);
}
.lemaItem,
.redonditosIcon {
  position: absolute;
  top: 8px;
  left: 8.16px;
  width: 501.61px;
  height: 492px;
}
.lemaItem {
  top: 300.5px;
  left: 24.47px;
  width: 473.07px;
  height: 1.6px;
}
.lema {
  position: relative;
  width: 522px;
  height: 512px;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--buttons-500-size);
  color: var(--color-gray-100);
  font-family: var(--h2-400);
}
