<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="prueba.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="sobreNosotros">
      <div class="izquierda">
        <div class="texto">
          <div class="titulo">Sobre Nosotros</div>
          <div class="cuerpo">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem
            ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
            ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
            ipsum lorem ipsum lorem ipsum
          </div>
        </div>
        <div class="boton">
          <img
            class="rectangulo"
            alt=""
            src="../../public//rectangle-3121.svg"
          />
          <div class="textoBoton">Más</div>
        </div>
      </div>
      <div class="imagenes">
        <img class="imagen" alt="" src="../../public/image20.png" />
        <img class="imagen" alt="" src="../../public/image19.png" />
      </div>
    </div>
  </body>
</html>
