.direccion {
  position: relative;
  background: url("/Direccion.jpg");
  background-size: cover;
  background-position: 60% center;
  width: 100%;
  height: 550px;
}
a {
  text-decoration: none;
}

.rectangulo {
  display: flex;
  flex-direction: column;
  background: var(--primario-0);
  padding: 32px 16px;
  width: 60%;
  position: relative;
  z-index: 2;
  left: 10%;
  top: 20%;
  max-width: 80%;
  gap: 32px;
}

.rectangulo .botonBorder {
  margin-top: 8px;
}

.eltexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.lascols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: minmax(100px, auto);
  justify-items: start;
  width: 100%;
}

.lascols div {
  padding: 4px;
  min-width: 120px
}
@media screen and (max-width: 800px) {
  .direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 480px;
    background-position: 90% center;
  }
  .rectangulo {
    position: absolute;
    width: fit-content;
    align-items: center;
    left: auto;
    top: -460px;
  }
  .eltexto, .lascols {
    align-items: center;
    text-align: center;
    justify-items: center;
  }
}
@media screen and (max-width: 450px) {
  .direccion {
    margin-top: 560px;
  }
  .rectangulo {
    top: -520px;
  }
}