.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  max-width: 100vw;
  width: -webkit-fill-available;
  height: 80px;
  padding: 0 64px;
  background: var(--primario-0);
  border-bottom: 1px solid #974811;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.navbar a {
  padding: 0 12px;
}
.icono {
  width: 36px;
  height: 36px;
}
.navbar span {
  color: rgba(0, 0, 0, 0.0);
  display: inline-block;
  background:  url('/EcatemLogo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
.navbarLinks {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: 100%
}
.linkButtons {
  display: flex;
  align-items: center;
  height: calc(100% - 3px);
  width: 100%;
  background-color: var(--primario-0);
  margin: 0px var(--gap-xs);
  justify-content: center;
}
.icono {
  padding: 0px 16px;
}
.navbar ul .linkButtons:hover {
  color: var(--primario-3);
  border-bottom: 4px solid var(--primario-3);
  cursor: pointer;
}
.navbar ul .linkButtons:active {
  color: var(--primario-5);
  border-bottom: 4px solid var(--primario-5);
}
.burger {
  width: 36px;
  height: 36px;
  display: none;
}
@media screen and (max-width: 800px) {
  .navbar {
    height: 64px;
    flex-direction: row-reverse;
    padding: 0 32px;
  }
  .navbarLinks {
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    top: 64px;
    z-index: 1;
    grid-template-columns: 0;
    grid-template-rows: repeat(4, 64px);
    justify-items: start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 0;
    height: 100vh;
    background: #ffff;
    transition: width 0.3s ease;
  }
  .linkButtons {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--primario-0);
    margin: 0;
    justify-content: start;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .navbarLinks li {
    transform-origin: left center; 
  }
  .navbar ul .linkButtons:hover {
    border-left: 12px solid var(--primary-fixed-dim);
    border-bottom: none;
    transform: scale(1.05) translateX(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .navbar ul .linkButtons:active {
    border-left: 12px solid var(--primary);
    border-bottom: none;
    background-color: var(--primario-1);
  }
  .linkButtons a {
    justify-content: flex-start;
    padding: 0 64px;
  }
}
@media screen and (max-width: 600px) {
  .burger {
    width:24px;
    height: 24px;
  }
  .navbar {
    height: 48px;
    flex-direction: row-reverse;
    padding: 0 24px;
  }
  .navbarLinks {
    top: 48px;
  }
}

.active {
  display: grid;
  width: fit-content;
  grid-template-columns: 60vw;
}

@media screen and (min-width: 800px) {
  .active {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 100%
  }
}