.porQueElegirnos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 32px;
  max-width: 70%;
  width: 100vw;
}
span {
  color: var(--primary)
}
.textoArriba {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.micuadro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 100%;
  justify-content: space-around;
}
.contenedor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 1px solid var(--primary);
  width: 100%;
  height: 100%;
  padding-left: 8px;
}
.accountCircleIcon {
  width: 24px;
  height: 24px;
  margin: 4px;
}
.calidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  align-items: flex-start;
}


@media screen and (max-width: 800px) {
  .porQueElegirnos {
    text-align: center;
    padding: 32px;
}
  .calidad {
    flex-basis: 100%;
  }
  .calidad:nth-child(2n-1),
  .calidad:nth-child(2n) {
    flex-basis: 50%;
  }
  .micuadro {
    grid-template-columns: 1fr; 
  }
  .contenedor {
    text-align: start;
  }
  .accountCircleIcon {margin: 0;}
}
@media screen and (max-width: 500px) {
  .porQueElegirnos {
    padding: 32px;
  }
  .micuadro {
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: 8px;
  }
}
