.fondo {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  padding: 80px 64px;
  position: relative;
  z-index: -1;
  background-repeat: no-repeat;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(12, 12, 11, 0.0348837) 37.5%,
      rgba(126, 124, 124, 0.375) 90.62%,
      rgba(252, 248, 247, 0.5625) 100%
    ),
    linear-gradient(
      180deg,
      rgba(184, 118, 70, 0.4) 45.83%,
      rgba(0, 1, 4, 0.0327485) 99.99%,
      rgba(0, 0, 0, 0) 100%
    );
}

.texto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding: 128px 64px;
  background: linear-gradient(
    90deg,
    #381800 0%,
    rgba(164, 177, 197, 0.0364583) 96.87%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 4px;
}
.texto1 > * {
  color: var(--primario-0);
  max-width: 70%;
}

@media screen and (max-width: 800px) {
  .fondo, .texto1 {
    padding: 64px 32px;
    gap: 24px;
  }
  .texto1 > * {
    max-width: none;
  }
}
