svg {
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  transition: background 0.5s ease;
}
svg:hover {
  background: var(--primary-fixed-dim);
}
.whatsapp {
  padding: 8px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: fit-content;
  height: fit-content;
  padding: 0;
}
