@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* font sizes */

  /* Colors */
  --primario-0: #fcf8f7;
  --primario-1: #ebe8e6;
  --primario-2: #d1b6a3;
  --primario-3: #d19e79;
  --primario-5: #9e531c;
  --primario-7: #381800;
  --primario-8: #1f0300;

  /* Gaps */
  --gap-xs: 12px;
  --gap-45xl: 64px;
  --gap-3xs: 10px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-61xl: 80px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-45xl: 64px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-23xl: 42px;
  --padding-12xs: 1px;
  --padding-75xl: 94px;
}
.displayLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
}
.displayMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
}
.displaySmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.headlineLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.headlineMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}
.headlineSmall {
  background: #000000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.titleLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.titleMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.titleSmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.bodyLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.bodyMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.bodySmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.labelLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.labelMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.labelSmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
}
.botonBorder {
  border: 2px solid rgba(209, 158, 121, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 120px;
  padding: 8px 16px;
}
.botonFull {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 32px;
  color: var(--primario-0);
  background: #331200;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 46px 50px rgba(0, 0, 0, 0.04),
    0px 29.8148px 29.2824px rgba(0, 0, 0, 0.0303704),
    0px 17.7185px 15.9259px rgba(0, 0, 0, 0.0242963),
    0px 9.2px 8.125px rgba(0, 0, 0, 0.02),
    0px 3.74815px 4.07407px rgba(0, 0, 0, 0.0157037);
}
