@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100vw;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
:root {

  /* Colors */
  --neutral-98: #FFF8F6;
  --neutral-60: #998F8A;
  --neutral-40: #655D59;
  --neutral-30: #4D4542;

  --neutral-4: #120D0A;
  --primary: #974811;
  --on-primary: #FFFFFF;
  --on-primary-container: #331200;
  --primary-fixed-dim: #FFB68E;
  --secondary: #765848;

  --primario-0: #fcf8f7;
  --primario-1: #ebe8e6;
  --primario-2: #d1b6a3;
  --primario-3: #d19e79;
  --primario-5: #9e531c;
  --primario-7: #381800;
  --primario-8: #1f0300;

  /* Gaps */
  --gap-xs: 12px;
  --gap-45xl: 64px;
  --gap-3xs: 10px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-61xl: 80px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-45xl: 64px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-23xl: 42px;
  --padding-12xs: 1px;
  --padding-75xl: 94px;
}

  /* font sizes */
.displayLarge {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
}
.displayMedium {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
}
.displaySmall {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.headlineLarge {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.headlineMedium {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}
.headlineSmall {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.titleLarge {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.titleMedium {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.titleSmall {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.bodyLarge {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.bodyMedium {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.bodySmall {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.labelLarge {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.labelMedium {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.labelSmall {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
}

.botonBorder {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: fit-content;
  width: fit-cotent;
  padding: 8px 12px;
  place-items: center;
  border: 2px solid var(--primary);
  background: none;
}

.botonBorderMedium {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-cotent;
  padding: 8px 24px;
  place-items: center;
  border: 2px solid var(--primary);
  background: none;
}

.botonBorderLarge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-cotent;
  padding: 8px 32px;
  place-items: center;
  border: 2px solid var(--primary);
  background: none;
}
.botonFull {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-cotent;
  padding: 8px 12px;
  color: var(--on-primary);
  background: var(--on-primary-container);
  border: 2px solid var(--on-primary-container);
}
.botonFullMedium {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-cotent;
  padding: 8px 24px;
  color: var(--on-primary);
  background: var(--on-primary-container);
  border: 2px solid var(--on-primary-container);
}
.botonFullLarge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-cotent;
  padding: 8px 32px;
  color: var(--on-primary);
  background: var(--on-primary-container);
  border: 2px solid var(--on-primary-container);
}
.bordeIzq {
  border-left: 6px solid var(--primary);
  padding: 0 24px;
}