@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* font sizes */

  /* Colors */
  --marrones-marron-0: #fcf8f7;
  --marrones-marron-1: #ebe8e6;
  --marrones-marron-2: #d1b6a3;
  --marrones-marron-3: #d19e79;
  --marrones-marron-5: #9e531c;
  --marrones-marron-7: #381800;
  --marrones-marron-8: #1f0300;
  --color-gray-100: #00151f;
  --azules-negro-azul: #000a0e;
  --color-black: #000;
  --color-darkgray: #a0a0a0;
  --gris-1: #f1f2f3;
  --azules-blanco-azul: #f5fcff;
  --color-gainsboro: rgba(217, 217, 217, 0);

  /* Gaps */
  --gap-xs: 12px;
  --gap-45xl: 64px;
  --gap-3xs: 10px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-61xl: 80px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-45xl: 64px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-23xl: 42px;
  --padding-12xs: 1px;
  --padding-75xl: 94px;
}
.displayLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  color: #000000;
}
.displayMedium {
  background: #000000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  color: #000000;
}
.displaySmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
.headlineLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}
.headlineMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
}
.headlineSmall {
  background: #000000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.titleLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
.titleMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.titleSmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.bodyLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.bodyMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.bodySmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.labelLarge {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.labelMedium {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.labelSmall {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
}
.botonBorder {
  border: 2px solid rgba(209, 158, 121, 1);
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
